<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>478589008405-i7hldfntl1e1l2fjdeu8hcdopr07pd1u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.478589008405-i7hldfntl1e1l2fjdeu8hcdopr07pd1u</string>
	<key>API_KEY</key>
	<string>AIzaSyDcENvAlhE4J2uX7BYk67x-K3u9B8GVWuc</string>
	<key>GCM_SENDER_ID</key>
	<string>478589008405</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterLoginTemplate</string>
	<key>PROJECT_ID</key>
	<string>flutter-login-demo-52d5d</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-login-demo-52d5d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:478589008405:ios:49b3c29028efa14d06ac1c</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-login-demo-52d5d.firebaseio.com</string>
</dict>
</plist>